<div id="faqCntr">
		<div>
			<div class="insertProd panel-content dls-panel-row panel " style="padding: 1.875rem 1.25rem;">	<h1>
					Developer App Details
				</h1></div>
			<ul class="nav nav-vertical dls-nav"  *ngFor="let ma of myapps" >
				<li class="nav-item	accordion" style="background: #fff;margin-bottom: 10px;" ><a
						 class="nav-link accordion-toggle" data-toggle="accordion"
						 role="button" aria-haspopup="true"><h2 class="dls-accent-gray-04 heading-2" innerHTML="{{ma.appName}}"> </h2></a>
					<div class="accordion-content" role="tabpanel" style="display: none;padding: 15px;">
						<ul class="nav">
							<li class="nav-item">
								<div>
									<label>Description </label><span>{{ma.appDesc}}</span>
								</div>
							</li>
							<li class="nav-item">
								<div>
									<label>Created By</label><span>{{ma.createdBy}}</span>
								</div>
							</li>
							<li class="nav-item">
								<div>
									<label>Callback URL</label><span>{{ma.callBackURL}}</span>
								</div>
							</li>
							<li class="nav-item">
								<div>
									<label>Client Id</label><span>{{ma.clientId}}</span>
								</div>
							</li>
							<li class="nav-item">
								<div>
									<label>Client Secret</label><span>{{ma.clientSecret}}</span>
								</div>
							</li>
							<li class="nav-item">
								<div>
									<label>Environment </label><span>{{ma.environment}}</span>
								</div>
							</li>
							<li class="nav-item">
								<div class="nav-item accordion" style="background: #fff;" >
									<a
										class="nav-link accordion-toggle" data-toggle="accordion"
										role="button" aria-haspopup="true">
										<h2 class="dls-accent-gray-04 heading-2">Mapped Products </h2>
									</a>
									<div class="accordion-content" role="tabpanel" style="display: none;"
										*ngFor="let mp of ma.mappedProducts">
										<div style="padding-left: 50px;">{{mp}}</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
</div>