.table thead th, .table-head  {
  font-weight: bold;
}

.table thead th{
  cursor: pointer;
}
.sortAscTypeImg{
    background: url('./../../../assets/images/glyphs/dls-glyph-down.svg') no-repeat bottom left;
    /*height: 17px;
    width: 50px;
     padding-left:15px;*/
    display: inline-block;
    width:15px;
    height:15px;
}
.sortDescTypeImg{
    background: url('./../../../assets/images/glyphs/dls-glyph-up.svg') no-repeat bottom left;
    /*height: 17px;
    width: 50px;
    padding-left:15px;*/
    display: inline-block;
    width:15px;
    height:15px;
}


