<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
    <div class="insertProd panel-content dls-panel-row panel " style="padding: 1.875rem 1.25rem;">
        <h1>External Partner</h1>

        <div align="center" class="divContent" style=" border-style: solid; border-width: 1px; padding: 15px; 
   height: 50px; font-size: 14px; margin-top: 4%;background-color: #C5EFF7;border-color: dodgerblue;border-radius: 4px;" *ngIf="showExists">
            <div class="dls-glyph-close" style="color:darkslategrey;float: right; font-size: 15px;" (click)="closeErr($event)"></div>
            <div class="dls-glyph-info" style="color: darkslategray"></div>
            <label style="color: darkslategrey; text-transform: none">A valid token already exists for this partner.</label>
        </div>

        <div align="center" class="divContent admin-form-div" style=" border-style: solid; border-width: 1px; padding: 15px; height:
   50px; font-size: 14px; margin-top: 4%;background-color: #C5EFF7;border-color: dodgerblue;border-radius: 4px;" *ngIf="showNotExists">
            <div class="dls-glyph-close" style="color: darkslategrey;float: right; font-size: 15px;" (click)="closeErr($event)"></div>
            <div class="dls-glyph-info" style="color: darkslategrey;"></div>
            <label style="color: darkslategrey; text-transform: none"> No valid token found for this partner.</label>
        </div>


        <div class="divContent admin-form-div" style="margin-top: 4%; padding: 0px;">

            <label>Partner:</label>
            <select name="Partner" formControlName="partnerName" id="partnerName" class="form-control" #selectedPlatform (ngModelChange)="onChange(selectedPlatform.value)" placeholder="Select to Begin">
        <option *ngFor="let s of partnerList" [ngValue]="s" [value]="s.organizationId">{{s.orgName}}</option>
        </select>
        </div>
        <div class="divContent admin-form-div" *ngIf="showtable" style="padding: 0px;">

            <div role="tabpanel" class="divContent admin-form-div" id="PublicProductsGridViewDiv" style="margin-top: 4%; padding: 0px;" *ngIf="showField">
                <label>Company Token:</label>
                <span [ngClass]="{'has-warning': !(myForm.controls['orgToken'].valid || (myForm.controls.orgToken.pristine ))}"> 
		         <input type="text" maxlength="100" formControlName="orgToken" name="productName" class="form-control" 
            (focus)="removeUpdateMsg()" title="Company Token" readonly/>
        </span>
            </div>


            <div role="tabpanel" class="divContent admin-form-div" id="PublicProductsGridViewDiv" style="margin-top: 4%; padding: 0px; ">
                <label>Expiry Date:</label>
                <!--<my-date-picker name="mydate" [options]="myDatePickerOptions" formControlName="tokenExpiry" placeholder="Token Validity*(Max 5 days)"></my-date-picker>-->
                <!--<my-date-picker [options]="myDatePickerOptions"></my-date-picker>-->
                <!--<ng2-datepicker [options]="DatePickerOptions" formControlName="date"></ng2-datepicker>-->
                <small class="error" [hidden]="myForm.controls.tokenQuota.valid || (myForm.controls.tokenQuota.pristine && myForm.controls.tokenQuota.untouched)">
              This Field is required.
      </small>
            </div>

            <div role="tabpanel" class="divContent admin-form-div" id="PublicProductsGridViewDiv" style="margin-top: 4%; padding: 0px;" *ngIf="showQuota">
                <label>Quota:</label>
                <span [ngClass]="{'has-warning': !(myForm.controls['tokenQuota'].valid || (myForm.controls.tokenQuota.pristine))}"> 
           <input type="text" [(ngModel)]="tokenQuota" (keypress)="keyPress($event)" (ngModelChange)="validation($event)"  maxlength="2" required formControlName="tokenQuota" 
           name="tokenQuota" class="form-control" (focus)="removeUpdateMsg()" title ="Quota" placeholder="Quota*(Max 20 Users)" />
        <small class="error" [hidden]="myForm.controls.tokenQuota.valid || (myForm.controls.tokenQuota.pristine && myForm.controls.tokenQuota.untouched )">
              This Field is required.
        </small>
        <small class="error"  *ngIf="quotaError"  >
             Please enter a value between 1 and 20
        </small>
        </span>
            </div>
            <div role="tabpanel" class="divContent " id="PublicProductsGridViewDiv" style="margin-top: 4%; padding: 0px;" *ngIf="showField">
                <div><label>Quota:</label></div>
                <span [ngClass]="{'has-warning': !(myForm.controls['tokenQuota'].valid || (myForm.controls.tokenQuota.pristine    ))}"> 
		         <input type="text" maxlength="100" formControlName="tokenQuota" id="tokenQuota" name="tokenQuota" class="form-control" 
            (focus)="removeUpdateMsg()" title="tokenQuota" readonly style="display: inline-block;width:56%;"/>
        </span>
            </div>
            <div role="tabpanel" class="divContent " id="PublicProductsGridViewDiv" style="margin-top: 4%; padding: 0px;" *ngIf="showField">
                <div><label>Sign UP URL:</label></div>
                <span [ngClass]="{'has-warning': !(myForm.controls['extUrl'].valid || (myForm.controls.extUrl.pristine    ))}"> 
		         <input type="text" maxlength="100" formControlName="extUrl" id="extUrl" name="productName" class="form-control" 
            (focus)="removeUpdateMsg()" title="Sign UP URL" readonly style="display: inline-block;width:56%;"/>
        </span>
                <button type="button" style="min-width: 3.00rem;line-height: 0.2;height:25px;font-size:13px; margin-left : 20px;" (click)="copyToClipboard('extUrl');">Copy</button>
            </div>
            <div align="center" *ngIf="showField" style="margin-top: 25px">
                <button type="submit" class="btn btn-default" id="addOrgBtn" [disabled]="!myForm.valid">Deactivate Token</button>
                <div *ngIf="updatedMsg" class="successPopupMsg " style="margin-left: 35px">Token has been deactivated.
                </div>
            </div>
            <div align="center" *ngIf="showBut" style="margin-top: 4%; padding: 10px;">
                <button type="submit" class="btn btn-default" id="addOrgBtn" [disabled]="!myForm.valid">Generate Token</button>

                <div *ngIf="updatedMsg" class="successPopupMsg " style="margin-left: 35px">Token has been Generated.
                </div>
            </div>
        </div>
    </div>
</form>