<form [formGroup]="myForm" novalidate >
    <div class="insertProd panel-content dls-panel-row panel " style="padding: 1.875rem 1.25rem;" >
      <div>
        <h1>Delete Platform</h1>
        <div class="divContent admin-form-div" style="width: 70%;">
            <label >Select Platform</label>
             <span [ngClass]="{'has-warning': errorClass}" >
                 <select  name ="delPlatform" formControlName="deleteplatform" id="deleteplatform" class="form-control" [(ngModel)]="deletePlatform"  (change)="onChange()" >
                     <option [value]="0"  >Select to begin</option>
                    <option *ngFor="let s of platform"  [value]="s.organizationId" >{{s.orgName+"-"+s.organizationId}}</option>
		         </select>
             </span>
        </div>
         <div *ngIf="updatedMsg" class="successPopupMsg" style="padding-top: 15px">Platform successfully deleted.</div>
         <div *ngIf="errorMsg" class=" error"  style="padding-top: 10px; margin-left:0px">{{errorString}}</div>
         <div class="divContent admin-form-div" align="center" style="width: 70%; margin-top: 20px;">
            <button class="btn btn-default"  (click)="deleteRowForm()">Click to Delete Platform</button>
         </div>
   </div>
    </div>
</form>