<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
    <div class="insertProd panel-content dls-panel-row panel " style="padding: 1.875rem 1.25rem;" >

        <h1 >Insert Platform Information</h1>
		<div class="divContent admin-form-div">
            <label>Platform Name</label>
            <span [ngClass]="{'has-warning': !(myForm.controls['platformName'].valid || (myForm.controls.platformName.pristine && myForm.controls.platformName.untouched ))|| isNamenotAvailable}">  
            <input type="text" maxlength="100" formControlName="platformName" name="platformName" class="form-control" (focus)="removeUpdateMsg()" placeholder="Platform Name*"  maxlength="100" title="Platform Name" (focusout)="checkPlatformName()"/>
            </span>
        </div>
        <small class="error" [hidden]="myForm.controls.platformName.valid || (myForm.controls.platformName.pristine && myForm.controls.platformName.untouched )">
         Organization must have alphanumeric characters only, space and hyphen allowed .
        </small>
		<small class="error" *ngIf="isNamenotAvailable && (myForm.controls.platformName.valid || (myForm.controls.platformName.pristine && myForm.controls.platformName.untouched ))">
        Organization Name already exist.Choose a different name.
        </small>
		<div class="divContent admin-form-div" >
            <label>Phone Number</label>
            <span [ngClass]="{'has-warning': !(myForm.controls['phoneNumber'].valid || (myForm.controls.phoneNumber.pristine && myForm.controls.phoneNumber.untouched ))}"> 
	        <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="24" formControlName="phoneNumber" (focus)="removeUpdateMsg()" name="editPhoneNumber" id="phoneNumber" class="form-control" placeholder="Phone Number*" maxlength="24"    title="Phone Number"/>
            </span>
        </div>
         <small class="error" [hidden]="myForm.controls.phoneNumber.valid || (myForm.controls.phoneNumber.pristine && myForm.controls.phoneNumber.untouched  )">
         Phone Number  is required .
        </small>   
		
		<div class="divContent admin-form-div" >
            <label>Address Line 1</label>
            <span [ngClass]="{'has-warning': !(myForm.controls['addressline1'].valid || (myForm.controls.addressline1.pristine && myForm.controls.addressline1.untouched))}"> 
		    <input type="text" maxlength="40" formControlName="addressline1" name="editAddressLine1" class="form-control" placeholder="Address Line 1*" (focus)="removeUpdateMsg()"  maxlength="40" title="Address Line 1"/>
            </span>
        </div>
		<small class="error" [hidden]="myForm.controls.addressline1.valid || (myForm.controls.addressline1.pristine && myForm.controls.addressline1.untouched)">
         Address must have alphanumeric characters only, space and hyphen allowed .
        </small>
		<div class="divContent admin-form-div" >
            <label>Address Line 2</label>
		    <input type="text" maxlength="40" formControlName="addressline2" name="editAddressLine2" id="addressLine2" class="form-control" placeholder="Address Line 2"  (focus)="removeUpdateMsg()"  maxlength="40" title="Address Line 2"/>
        </div>
       	<div class="divContent admin-form-div" >
            <label>Country</label>
        <select name="country" id="country" formControlName="country" [(ngModel)]="selectCountry" class="form-control" (change)="getStatesList(selectCountry)">
            <option *ngFor="let item of country" [ngValue]="item.countryCode" >{{item.country}}</option> 
        </select>

       	</div>
        <div class="divContent admin-form-div" >
            <label>State</label>
        <select name="states" id="states" formControlName="states" [(ngModel)]="selectStates" class="form-control">
            <option *ngFor="let item of states" [ngValue]="item.regionCode" >{{item.state}}</option> 
        </select>
       	</div>
         
		<div class="divContent admin-form-div">
            <label>City</label>
            <span [ngClass]="{'has-warning': !(myForm.controls['city'].valid || (myForm.controls.city.pristine && myForm.controls.city.untouched ))}"> 
		    <input type="text" maxlength="35" formControlName="city" name="city" id="city" class="form-control" (focus)="removeUpdateMsg()" placeholder="City*" maxlength="35" title="City"/>
            </span>
        </div>
        <small class="error" [hidden]="myForm.controls.city.valid || (myForm.controls.city.pristine && myForm.controls.city.untouched )">
         City is required .
        </small>
	
	<div class="divContent admin-form-div">
        <label>Zip</label>
         <span [ngClass]="{'has-warning': !(myForm.controls['zip'].valid || (myForm.controls.zip.pristine  && myForm.controls.zip.untouched))}"> 
		<input type="text" maxlength="15" onkeypress='return event.charCode >= 48 && event.charCode <= 57' formControlName="zip" name="zip" id="zip" class="form-control" (focus)="removeUpdateMsg()" placeholder="Zip*"  maxlength="15" title="Zip"/>
         </span>
	</div>
    <small class="error" [hidden]="myForm.controls.zip.valid || (myForm.controls.zip.pristine && myForm.controls.zip.untouched  )">
         Please enter a valid 5 digit zip code .
    </small>
 </div>  
 <div *ngIf="updatedMsg" class="successPopupMsg " style="margin-left: 35px">Platform successfully added.</div>
 <div *ngIf="isFailure" class="error " style="margin-left: 35px">{{failureMsg}}</div>   
 <div class="divContent admin-form-div" align="center" >
     <button type="submit" class="btn btn-default" id ="addOrgBtn" [disabled]="!myForm.valid"  >Click to Add Platform</button>
     </div>
     <br><br><br>
</form>

