 @import '../vendor/font-awesome/less/font-awesome.less';

 @import 'variables.less';
 @import 'wireframe.less';
 @import 'spinner.less';


/**
 * Header
 */

 .devportal_header{
  background-color: #002663 !important;
  padding-bottom: 20px !important;
  position: fixed !important;
  z-index: 9999 !important;
}

/**
 * Body
 */

 .devportal-main-body {
  background-color: #ebebeb;
}
.devportal-main-header {
  background-image:linear-gradient(to bottom, #ffffff 50%, #dcdddd);
  margin-top: 0px;
}

.devportal-template-background{
	background-color : #f8f8f8;
	border-radius: 6px;
}

/**
 * Footer
 */
 .devportal-main-footer {
  margin-top: 80px;
}

h4.privacy-statement {
    text-transform: none;
}

/**
 * Homepage fixes
 */

.api-collection .nav-link{
	background-color: transparent;
}

/**
* Session Modals
*/
.modal-danger .modal-header {
  background-color: #f2dede;
  border-bottom-color: #ebccd1;
  border-left-color-ltr-source: physical;
  border-left-color-rtl-source: physical;
  border-left-color-value: #ebccd1;
  border-right-color-ltr-source: physical;
  border-right-color-rtl-source: physical;
  border-right-color-value: #ebccd1;
  border-top-color: #ebccd1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #a94442;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 9px;
}

.modal-info .modal-header {
  background-color: #0074A5;
  border-bottom-color: #faebcc;
  border-left-color-ltr-source: physical;
  border-left-color-rtl-source: physical;
  border-left-color-value: #0074A5;
  border-right-color-ltr-source: physical;
  border-right-color-rtl-source: physical;
  border-right-color-value: #faebcc;
  border-top-color: #0074A5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 9px;
}

/* Nav in header.tpl.html styles 

#bannerHeader .dropdown-content .nav li a {
  background-color:transparent;
  color:#464646;	
  padding: 5px 10px!important;
  height: 50px;
  line-height: 40px;
  transition: background-color 0.4s;
}
#bannerHeader .dropdown-content .nav li a:hover {
  background-color:#428bca!important;
  color:white;
}
#bannerHeader .dropdown-content { left:24px;}
#bannerHeader .dropdown-content ul {position:static;}
*/

/**
* Pagination
*/
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #428bca;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #2a6496;
  background-color: #eeeeee;
  border-color: #dddddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  background-color: #ffffff;
  border-color: #dddddd;
  cursor: not-allowed;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.pager {
  padding-left: 0;
  margin: 20px 0;
  list-style: none;
  text-align: center;
}
.pager li {
  display: inline;
}
.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 15px;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.pager .next > a,
.pager .next > span {
  float: right;
}
.pager .previous > a,
.pager .previous > span {
  float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999999;
  background-color: #ffffff;
  cursor: not-allowed;
}
/**
* Miscellaneous 
*/

.alert-warning {
 color: #ffca33;
 background-color: #fff;
 border-color: #ffca33;
}

.alert-warning .alert-icon {
 color: #ffca33;
}

.heading-sm {
 font-size: 1rem;
}

#ssoContent input[type="checkbox"] {
 opacity:0 !important;
}

.icon-xs {
	font-size: 0.4875rem !important;
}

.devportal-flex .form-group {
 display: -webkit-flex;
 display: flex;
 -webkit-flex-direction: row;
 flex-direction: row;	
 display: -ms-flexbox;
 -ms-flex-direction: row;
}

.devportal-template-padding{
  padding-top: 48px;
  padding-bottom: 48px;
}

.panel-heading {
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 10px 15px;
}

.nomargin{
	margin: 0 !important;
}
.modal-dialog {
  margin: 30px auto;
  width: 600px;
  height: auto;
}
.modal{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  overflow: auto;
}
.break-word{
	word-wrap: break-word;
}
.pad-left-15{
	padding-left: 15px;
}
.btn-group-xs>.btn, .btn-xs{
	border-radius: 0.1875rem;
	font-size: 0.75rem;
	line-height: 1.5;
	max-width: 12.5rem;
	min-width: 5rem;
	padding: 0.3125rem 0.625rem;   
}

.dls-breadcrumbs {
	position: static;
}
.control-label {
	text-transform: capitalize;
	font-weight: bold;
}
.align-center{
	margin: 0 auto;
	text-align: center;
}

.label, label{
	font-family: BentonSans, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.banner-heading{
	margin-left: 3.5725em;
    margin-top: 1.5rem;
}

/* mobile */
@media(max-width:767px) {
  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none !important;
  }

  .active > .dls-breadcrumbs {
    position: static;
  }

  .active > ul.nav-list {
    top: 64px!important;
    z-index: 1;
  }

  .toggled > .menu-container {
    top: 118px !important;
  }

@media(max-width:360px) {
	.toggled > .menu-container {
    top: 118px !important;
    width: 100% !important;
  }
}
  .dls-menu .menu-viewport.devportal-sidebar {
    margin-right: inherit !important;
    padding-right: inherit !important;
  }

  .dls-breadcrumbs {
    position: fixed;
    top: 64px;
    z-index: 1;
  }

  .toggled.dls-breadcrumbs {
    position: fixed !important;
    top: 64px;
  }

  header.header {
    position: fixed !important;
  }

  .devportal-app-dashboard > .dls-panel-row {
    padding-top: 118px !important;
  }

  .devportal-mobile-jumbotron {
    padding-top: 6rem !important;
   }
   
   .devportal-margin-top{
    margin-top: 5rem !important;
    }
    
    .homepage-footer-common{
  		height:120px !important;
  	}
	
	#main{
		padding-bottom: 120px !important; /*Should be equal to height of footer*/
	}
	
	.homepage-footer p, .homepage-footer-common p,
	.homepage-footer a, .homepage-footer-common a {
	    font-size: 0.7rem!important;
	    padding-bottom: 0.5rem;
	    margin-bottom: 0;
	}
  nav#homepage-nav > ul.nav-list {
    z-index: 50;
  }
  
  .homepage-footer-common, .homepage-footer {
	    padding: 8px 5px !important;
	}

}

/* Tablet */
@media (min-width:768px) and  (max-width:1199px){
	.desktop-only, .mobile-only{
		display: none !important;
	}
	.toggled > .menu-container {
      /*z-index: 10000;
      position: static;
      margin-top: 43px;*/
      top: 118px !important;
	}

  .dls-breadcrumbs {
    position: fixed !important;
    top:64px !important;
    z-index: 1;
  }

  .toggled.dls-breadcrumbs {
    position: fixed !important;
    top:64px !important;
  }

  .dls-menu .menu-viewport.devportal-sidebar{
    margin-right: inherit!important;
    padding-right: inherit!important;
  }

  div.dls-menu.toggled{
    z-index: 1;
  }

  .devportal-app-dashboard > .dls-panel-row {
    padding-top: 118px !important;
  }

  header.header{
    position: fixed !important;
  }

  .devportal-mobile-jumbotron {
    padding-top: 6rem !important;
  }
  .devportal-margin-top{  	
    margin-top: 12rem !important;
  }
  .homepage-footer-common{
  		height:120px !important;
  	}
  	#main{
		padding-bottom: 120px !important; /*Should be equal to height of footer*/
	}
	.homepage-footer p, .homepage-footer-common p,
	.homepage-footer a, .homepage-footer-common a {
	    font-size: 0.7rem!important;
	    padding-bottom: 0.5rem;
	    margin-bottom: 0;
	}
	.homepage-footer-common, .homepage-footer {
	    padding: 15px 5px;
	}
}

/* Desktop*/
@media (min-width: 1200px){
	.toggled > .menu-container{
		top: 288px !important;
	}
	.desktop-only{
		display: block;
	}
	.mobile-only{
		display:none;
	}
	#main{
		margin-top: 102px; /* Same as height of header */
	}
}

/*styles for Left Nav ----------- All Desktop ----------- */

 @media screen
 and (min-device-width: 1200px){
   .devportal-app-dashboard .dls-menu .menu-container.devportal-sidebar{
     top: 0px !important;
   }

   .dls-menu .menu-container.devportal-sidebar{
     position: relative !important;     
     top: 0px;
   }

   .dls-menu .menu-viewport.devportal-sidebar{
     margin-right: inherit!important;
     padding-right: inherit!important;
   }

   #sticky_nav.stick {
     margin-top: 100px !important;
     position: fixed;
     top: 0;
     z-index: 10000;
     border-radius: 0 0 0.5em 0.5em;
     width: 320px;
     background: #fff;
     //padding-bottom: 6.2rem;
   }
 }

/* keeping footer to bottom */

html,
body {
	height:100%;
}

#dls-app{
	min-height:100%;
	position:relative;
}

#main{
	padding-bottom: 110px; /*Should be equal to height of footer*/
}

/* Footer related changes */
.homepage-footer-common{
  height:110px;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
}

.privacy-statement{
	font-size: 1.2rem;
	padding-bottom: 0!important;
	margin-bottom: 0.9375rem;
	font-weight: bold !important;
}

.homepage-footer p,
.homepage-footer-common p{
	font-size: 0.8125rem;
	padding-bottom: 0.625rem;
	margin-bottom: 0;
}

.homepage-footer p:last-child,
.homepage-footer-common p:last-child{
	padding-bottom: 0;
}

.devportal-margin-top{
    margin-top: 10rem;
}
#main.nopadding{
	padding: 0px !important;
}

/*Disabled anchor*/
a.disabledAnchor{
   pointer-events: none !important;
   cursor: default;
   color:#999999;
}
  
/*Fix for IE10+*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.icon,
	.dls-icon-activity-filled,
	.dls-icon-account-filled,
	.dls-icon-account,
	.dls-icon-activity,
	.dls-icon-airplane-filled,
	.dls-icon-airplane,
	.dls-icon-alert-filled,
	.dls-icon-alert,
	.dls-icon-bank-filled,
	.dls-icon-bank,
	.dls-icon-billing-filled,
	.dls-icon-billing,
	.dls-icon-business-filled,
	.dls-icon-business,
	.dls-icon-businessservices-filled,
	.dls-icon-businessservices,
	.dls-icon-calendar-filled,
	.dls-icon-calendar,
	.dls-icon-cancelcircle-filled,
	.dls-icon-cancelcircle,
	.dls-icon-card-filled,
	.dls-icon-card,
	.dls-icon-cardbenefit-filled,
	.dls-icon-cardbenefit,
	.dls-icon-cards-filled,
	.dls-icon-cards,
	.dls-icon-change-filled,
	.dls-icon-change,
	.dls-icon-chat-filled,
	.dls-icon-chat,
	.dls-icon-check-filled,
	.dls-icon-check,
	.dls-icon-close-filled,
	.dls-icon-close,
	.search[data-state="active"] .search-state,
	.dls-icon-concierge-filled,
	.dls-icon-concierge,
	.dls-icon-dataprotection-filled,
	.dls-icon-dataprotection,
	.dls-icon-declined-filled,
	.dls-icon-declined,
	.dls-icon-desktop-filled,
	.dls-icon-desktop,
	.dls-icon-dining-filled,
	.dls-icon-dining,
	.dls-icon-document-filled,
	.dls-icon-document,
	.dls-icon-down-filled,
	.dls-icon-down,
	.dls-icon-download-filled,
	.dls-icon-download,
	.dls-icon-edit-filled,
	.dls-icon-edit,
	.dls-icon-email-filled,
	.dls-icon-email,
	.dls-icon-entertainment-filled,
	.dls-icon-entertainment,
	.dls-icon-dollar-filled,
	.dls-icon-dollar,
	.dls-icon-feedback-filled,
	.dls-icon-feedback,
	.dls-icon-fraudprotection-filled,
	.dls-icon-fraudprotection,
	.dls-icon-grocery-filled,
	.dls-icon-grocery,
	.dls-icon-help-filled,
	.dls-icon-help,
	.dls-icon-home-filled,
	.dls-icon-home,
	.dls-icon-hotel-filled,
	.dls-icon-hotel,
	.dls-icon-info-filled,
	.dls-icon-info,
	.dls-icon-insurance-filled,
	.dls-icon-insurance,
	.dls-icon-laptop-filled,
	.dls-icon-laptop,
	.dls-icon-left-filled,
	.dls-icon-left,
	.dls-icon-location-filled,
	.dls-icon-location,
	.dls-icon-lock-filled,
	.dls-icon-lock,
	.dls-icon-lounge-filled,
	.dls-icon-lounge,
	.dls-icon-merchandise-filled,
	.dls-icon-merchandise,
	.dls-icon-minus-filled,
	.dls-icon-minus,
	.dls-icon-minuscircle-filled,
	.dls-icon-minuscircle,
	.dls-icon-mobile-filled,
	.dls-icon-mobile,
	.dls-icon-neutral-filled,
	.dls-icon-neutral,
	.dls-icon-offersdesktop-filled,
	.dls-icon-offersdesktop,
	.dls-icon-offersmobile,
	.dls-icon-offersmobile-filled,
	.dls-icon-other-filled,
	.dls-icon-other,
	.dls-icon-oversizebag-filled,
	.dls-icon-oversizebag,
	.dls-icon-paperless-filled,
	.dls-icon-paperless,
	.dls-icon-paymentdue-filled,
	.dls-icon-paymentdue,
	.dls-icon-pdf-filled,
	.dls-icon-pdf,
	.dls-icon-pet-filled,
	.dls-icon-pet,
	.dls-icon-plus-filled,
	.dls-icon-plus,
	.dls-icon-pluscircle-filled,
	.dls-icon-pluscircle,
	.dls-icon-point10k-filled,
	.dls-icon-point10k,
	.dls-icon-point20k-filled,
	.dls-icon-point20k,
	.dls-icon-point2x-filled,
	.dls-icon-point2x,
	.dls-icon-point3x-filled,
	.dls-icon-point3x,
	.dls-icon-point5x-filled,
	.dls-icon-point5x,
	.dls-icon-point8x-filled,
	.dls-icon-point8x,
	.dls-icon-print-filled,
	.dls-icon-print,
	.dls-icon-processing-filled,
	.dls-icon-processing,
	.dls-icon-receipt-filled,
	.dls-icon-receipt,
	.dls-icon-refreshment-filled,
	.dls-icon-refreshment,
	.dls-icon-rewards-filled,
	.dls-icon-rewards,
	.dls-icon-right-filled,
	.dls-icon-right,
	.dls-icon-search-filled,
	.search-state,
	.dls-icon-search,
	.dls-icon-setting-filled,
	.dls-icon-setting,
	.dls-icon-source-filled,
	.dls-icon-source,
	.dls-icon-statementpaid-filled,
	.dls-icon-statementpaid,
	.dls-icon-success-filled,
	.dls-icon-success,
	.dls-icon-tag-filled,
	.dls-icon-tag,
	.dls-icon-taxi-filled,
	.dls-icon-taxi,
	.dls-icon-train-filled,
	.dls-icon-train,
	.dls-icon-travelbag-filled,
	.dls-icon-travelbag,
	.dls-icon-trends-filled,
	.dls-icon-trends,
	.dls-icon-unlock-filled,
	.dls-icon-unlock,
	.dls-icon-up-filled,
	.dls-icon-up,
	.dls-icon-upload-filled,
	.dls-icon-upload,
	.dls-icon-warning-filled,
	.dls-icon-warning,
	.dls-icon-facebook-filled,
	.dls-icon-facebook,
	.dls-icon-linkedin-filled,
	.dls-icon-linkedin,
	.dls-icon-twitter-filled,
	.dls-icon-twitter {
		font-size: 7px;
	}
}

_:-ms-fullscreen, :root .dls-icon-account { font-size: 7px; }

.dispBlock{
	display: block !important;
}
.dispNone{
	display: none !important;
}
.wrapper.inner{
	padding-left: 0px;
	padding-right: 0px;
}
