.logo-span
{
	display:inline-block;
	border : 0px !important;
}
.txt-align
{
	text-align: right;
}
.pad-lft
{
	padding-left: 50px;
}

.nav-stacked
{
	position:fixed;
}

.ham
{
	padding: 13.8px 19.9px;
}
/* Style The Dropdown Button */
.dropbtn {
    padding: 5px;
	padding-top: 35px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	vertical-align : middle;
}

.ham
{
	line-height: 90px;
    height: 90px;
    padding-top: 0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
	min-width: 141px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 14px !important;
    text-decoration: none;
}

.dropdown:hover .dropdown-content
{
	display: block;
	z-index:99;
}

@media (max-width: 414px){
.navbar-default .navbar-nav > li > a {
    font-size: 12px !important;
}
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

.expand
{
	display: block;
	z-index:99;
}

.dropdown:blur .dropdown-content {
    display: none;
}

.dropdown-content:hover {
    display: block;
}
.dropdown-content:blur {
    display: none;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
   
}

.btm-border
{
	border-bottom: 2px solid gray !important;
}
.txt-body
{
	font-family: BentonSans-Book !important;
	font-size: 14px !important;
	color: #4A4A4A !important;
	line-height: 16px !important;	
}

.ng-hide
{
	display : none !important;
}


.navbar-nav > li
{
	display:inline-block;
}




.banner-info-slider span {
	font-family: BentonSans-Light;
	font-size: 46px;
	color: #FFFFFF;
	line-height: 57px;
    margin:1em 0 .5em;
    width:80%;
    font-weight: normal !important;
}
.banner-info-slider p{
	font-family: BentonSans-Regular;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 26px;
    margin: 0;
}
.span-body-header
{
	font-family: BentonSans-Medium !important;
	font-size: 18px !important;
	color: #002465 !important;
	line-height: 26px !important;
	font-weight: bold !important;
}
.span-body
{
	color: gray !important; 
	font-family: "BentonSans Medium", Arial, sans-serif;
}
.span-body-search
{
	text-align:center !important;
	color: gray !important; 
	font-family: "BentonSans Medium", Arial, sans-serif;
}
.span-body-search > a
{
	color: #006dcc !important; 
	font-family: "BentonSans Medium", Arial, sans-serif;
	text-decoration: underline;
}

.div-body
{
	color: #006dcc !important; 
	font-family: "BentonSans Medium", Arial, sans-serif;
	text-decoration: none;
}
.footer
{
	padding: 0px !important;
}

.button1
{
	background-color:#006dcc !important; 
	color: #ffffff !important;
}


.div-body1
{
	background-color: white !important;
}
.pad-left
{
	padding-left: 500px;
}
.pad-right
{
	padding-right: 15px;
}
.div-grey
{
	background-color: #eeeeee;
	padding-top: 50px;
}

.container1
{
	width: 100%;
}
.banner-bottom
{
	background-color: #ffffff !important;
}
.content-border
{
	border-left: 2px solid gray !important;
}

.content-border > p
{
	padding-left: 50px;
}
.span-body > a
{
	font-family: BentonSans-Medium;
	font-size: 14px;
	color: #9B9B9B !important;
	line-height: 17px;
	text-decoration: none;
	padding: 9px 20px;
	border: 2px solid #9B9B9B;
	width: 150px !important;
}

.col-height
{
	height: 100% !important;
}

.span-body > .button
{
	font-family: BentonSans-Medium;
	font-size: 14px;
	color: #9B9B9B !important;
	line-height: 17px;
	text-decoration: none;
	padding: 9px 20px;
	border: 2px solid #9B9B9B !important;
	width: 120px !important;
	background-color: white !important;
}
.span-body > .button:hover
{
	border: 2px solid #002663;
	text-decoration: none;
	color: #ffffff !important; 
	background: #002663 !important;
	border-radius: 3px;	
}

.span-body > .button:focus
{
	border: 2px solid #002663;
	text-decoration: none;
	color: #ffffff !important; 
	background: #002663 !important;
	border-radius: 3px;	
}

.span-body > a:focus,.span-body > a:hover, span-body > .focus 
{
	border: 0px;
	text-decoration: none;
	color: #ffffff !important; 
	background: #002663;
	border-radius: 3px;	
}

.span-body > a:active
{
	border: 0px;
	text-decoration: none;
	color: #ffffff !important; 
	background: #002663;
	border-radius: 3px;	 
}

/*--header button--*/
.banner-info-slider > p > span > a
{
	color: #ffffff !important; 
	font-family: "BentonSans Medium", Arial, sans-serif;
	text-decoration: none;
	line-height:55px; 
	padding: 9px 20px;
	border: 1px solid #ffffff;
	background-color: transparent;
}

.banner-info-slider > p > span > a:hover 
{
	text-decoration: none;
	color:#006dcc !important; 
	background-color: #ffffff;
}

.banner-info-slider > p > span > a:active
{
	text-decoration: none;
	color: #006dcc !important; 
	background-color: #fffff;
}
.nopadding {
   padding: 2px !important;
   margin: 0 !important;
}
.nav-wil
{
	background-color: transparent;
}
.devportal-main-footer
{
	text-align: center;
	float: none;
}

@media screen and (max-width: 600px) {
    .pad-left
	{
		padding-left: 5px;
	}
	.pad-right
	{
		padding-right: 5px;
	}
	.div-grey
	{
		padding-top: 5px;
	}
}
/*------------------ Slider Part ends Here----------*/
.banner{
	background:url(images/headerbgfull.png) no-repeat 0px 0px !important;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	min-height:92px;
}
.banner1{
	background:url(images/detailimg.png) no-repeat 0px 0px !important;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	min-height:92px;
}
.banner-info {
    background: url(images/headerbgfull.png)repeat 0px 0px !important;
    background-size: 4px;
    -webkit-background-size: 4px;
    -moz-background-size: 4px;
    -o-background-size: 4px;
    -ms-background-size: 4px;
    min-height:92px;
    
}
.banner-info1 {
    background: url(images/detailimg.png)repeat 0px 0px !important;
    background-size: 4px;
    -webkit-background-size: 4px;
    -moz-background-size: 4px;
    -o-background-size: 4px;
    -ms-background-size: 4px;
    min-height:92px;
}
.navbar-brand{
	font-size: 16px; 
	font-family: "BentonSans Medium", Arial, sans-serif;
    text-decoration: none;
    height: 85px;
    padding-right: 0;
    color: #ffffff !important;
 }
.navbar-brand span{
	padding: 0.2em 0.7em;
    border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	-ms-border-radius: 100%;
    border: 2px solid #fff;
}

.navbar-default{
    border: none !important;
	padding-bottom: 1px !important;
	border-bottom: 1.5px solid #ffffff !important;
	background-color:transparent !important;
	margin: 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none !important;
	padding-bottom: 1px !important;
	background-color:transparent !important;
	margin: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 18px; 
    font-family: "BentonSans Medium", Arial, sans-serif;
}
.navbar-nav {
    float: right;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .focus {
    color:#eeeeee;
    font-weight: bold;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #27b311;
    background-color: transparent;
}
.navbar-nav li.act a{
	color:#eeeeee;
	font-weight: bold;
}
/*-- nav-effect --*/
.cl-effect-18 a.effect1::before, .cl-effect-18 a.effect1::after {
	left:0% !important;
}
.cl-effect-18 {
	position: relative;
	z-index: 1;
}

.cl-effect-18 a {
	padding: 0 5px;
	color: #b4770d;
	font-weight: 700;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.cl-effect-18 a::before,
.cl-effect-18 a::after{
	position: absolute;
	width:65px;
	left: 20%;
    top: 75%;
    height: 2px;
	margin-top: 0px;
	background:transparent;
	content: '';
	z-index: -1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}

.cl-effect-18 a::before,.cl-effect-18 a.active::before {
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	transform: translateY(-20px);
}

.cl-effect-18 a::after,.cl-effect-18 a.active::after {
	-webkit-transform: translateY(20px);
	-moz-transform: translateY(20px);
	transform: translateY(20px);
}

.cl-effect-18 a:hover,
.cl-effect-18 a:focus,.cl-effect-18 a.active,
.cl-effect-18 a.active:focus {
	color: #fff;
}

.cl-effect-18 a:hover::before,
.cl-effect-18 a:hover::after,
.cl-effect-18 a:focus::before,
.cl-effect-18 a:focus::after,.cl-effect-18 a.active::before,
.cl-effect-18 a.active::after,
.cl-effect-18 a.active:focus::before,
.cl-effect-18 a.active:focus::after {
	opacity: 0.7;
	background: #fff;
}

.cl-effect-18 a:hover::before,
.cl-effect-18 a:focus::before,.cl-effect-18 a.active::before,
.cl-effect-18 a.active:focus::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.cl-effect-18 a:hover::after,
.cl-effect-18 a:focus::after,.cl-effect-18 a.active::after,
.cl-effect-18 a.active:focus::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.banner-bottom{
	padding:2em 0 0;
}

.banner-bottom-grid-left h3{
	padding:0 1em;
}

.banner-bottom-grid-left:hover .com-heart{
	display:none;
}
.banner-bottom-grid-left:hover .dummy{
	display:block;
}
.banner-bottom-grid-left:hover .health ul li a{
	background:none;
	border:2px solid #fff;
}

.banner-bottom-grids:nth-child(2){
	margin:1em 0;
}
@media only screen and (max-width:480px) {
	.pad-left
	{
		padding-left: 5px;
	}
	.pad-right
	{
		padding-right: 5px;
	}
	.div-grey
	{
		padding-top: 5px;
	}
}
/* .nav-tabs {
    border-bottom:none;
    background: #27b311;
} */
.nav-tabs > li > a {
    margin-right: 0;
    border-radius: 0;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .focus {
    color: #fff;
    cursor: default;
    background-color: none;
    border: none;
    border-bottom: none;
}
.nav-tabs > li > a {
    border: none;
    font-size:.8em;
    text-transform: uppercase;
    color: none;
	font-weight:400;
}

.para
{
	display: inline-block;
	vertical-align: top;	
}

.nav-stacked > li > a:focus, .nav-stacked > li > a, .nav-stacked > li > a:hover, .focus
{
	background-color: #ffffff !important;
}

.nav > li > a > .para, .inactive
{
	display: inline-block;
	vertical-align: top;	
	font-weight: normal;
	font-family: BentonSans-Regular;
	font-size: 16px;
	color: #9B9B9B;
	line-height: 26px;
}

.nav > li > a:hover > .para, .nav > li > a:focus > .para, .active, .focus > .para
{
	display: inline-block !important;
	vertical-align: top !important !important;	
	font-family: BentonSans-Medium;
	font-size: 16px !important;
	color: #002663 !important;
	line-height: 26px;	
}

.nav > li > a {
    padding:13.3px 19.9px;
}





.nav-stacked > li > ul > li > a:focus, .nav-stacked > li > ul > li > a, .nav-stacked > li > ul > li > a:hover, .focus
{
	background-color: #ffffff !important;
}

.nav > li > ul > li > a > .para, .inactive
{
	display: inline-block;
	vertical-align: top;	
	font-weight: normal;
	font-family: BentonSans-Regular;
	font-size: 16px;
	color: #9B9B9B;
	line-height: 26px;
}

.nav > li > ul > li > a:hover > .para, .nav > li > ul > li > a:focus > .para, .active, .focus > .para
{
	display: inline-block !important;
	vertical-align: top !important !important;	
	font-family: BentonSans-Medium;
	font-size: 16px !important;
	color: #002663 !important;
	line-height: 26px;	
}

.nav > li > ul > li > a {
    padding:13.3px 19.9px;
}






.nav-tabs > li > a:hover, .nav-tabs > li > a:focus, .focus {
    border: none !important;
}

.nav-pills > li > a:hover, .nav-pills > li > a:focus {
    border-top: 2px solid #006dcc;
    background-color: #ffffff !important;
}
.nav-pills > li > a:hover, .nav-pills > li > a:focus, .nav-pills > li > a {
    border-top: 2px solid #eeeeee;
    background-color: #ffffff !important;
}


.nav-pills > li > a:hover, .nav-pills > li.active > a:hover {
    border-top: 2px solid #006dcc;
    background-color: #ffffff !important;
}

.nav-pills > li > a:focus, .nav-pills > li.active > a:focus {
    border-top: 2px solid #006dcc;
    background-color: #ffffff !important;
}


.nav-pills > li > a:hover, .nav-pills > li > a:focus {
    border-top: 2px solid #006dcc;
    background-color: #ffffff !important;
}
.nav-pills > li > a:hover, .nav-pills > li > a:focus, .nav-pills > li > a {
    border-top: 2px solid #eeeeee;
    background-color: #ffffff !important;
}


.nav-pills > li > a:hover,.nav-pills > li.active > a:hover {
    border-top: 2px solid #006dcc;
    background-color: #ffffff !important;
}

.nav-pills > li > a:focus,.nav-pills > li.active > a:focus {
    border-top: 2px solid #006dcc;
    background-color: #ffffff !important;
}

.nav > li > a > span {
  content: "\f111";
  font-size:0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height:26px;
  width:26px;
  display:inline-block;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -o-border-radius: 24px;
  -ms-border-radius: 24px;
  border: 2px solid #D8D8D8;
  background-color: #D8D8D8;
}

.nav > li > a:focus > span, .focus > span, h4 > span {
  content: "\f111";
  font-size:0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height:26px;
  width:26px;
  display:inline-block;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -o-border-radius: 24px;
  -ms-border-radius: 24px;
  border: 2px solid #00ABD2 !important;
  background-color: #00ABD2 !important;
}

.nav > li > a:hover > span ,.nav-pills > li.active > a:hover > span{
  content: "\f111";
  font-size:0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height:26px;
  width:26px;
  display:inline-block;
 border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -o-border-radius: 24px;
  -ms-border-radius: 24px;
  border: 2px solid #00ABD2;
  background-color: #00ABD2;
}

.nav-tabs > li {
    margin-bottom: 0;
}


.nav-tabs {
  margin-bottom: 1em;
}

@media (max-width:768px){
	.pad-left
	{
		padding-left: 5px;
	}
	.pad-right
	{
		padding-right: 5px;
	}
	.div-grey
	{
		padding-top: 5px;
	}
}
@media (max-width:640px){
	.pad-left
	{
		padding-left: 5px;
	}
	.pad-right
	{
		padding-right: 5px;
	}
	.div-grey
	{
		padding-top: 5px;
	}
}
@media (max-width:480px){
	.pad-left
	{
		padding-left: 5px;
	}
	.pad-right
	{
		padding-right: 5px;
	}
	.div-grey
	{
		padding-top: 5px;
	}
}
@media (max-width: 320px){
	.pad-left
	{
		padding-left: 5px;
	}
	.pad-right
	{
		padding-right: 5px;
	}
	.div-grey
	{
		padding-top: 5px;
	}
	.nav > li > a {
		font-size: 14px;
	}
	.navbar-header
	{
		max-width:200px !important;
		float:left !important;
		display: inline-block !important;
	}
	.nav-wil
	{
		display:inline-block !important;
		float:left !important;
	}
}
/*-----start-responsive-design------*/
@media (max-width:1680px){
	.pad-left
	{
		padding-left: 15px;
	}
	.pad-right
	{
		padding-right: 15px;
	}
	.div-grey
	{
		background-color: #eeeeee;
		padding-top: 15px;
	}
}
@media (max-width:1280px){
	.pad-left
	{
		padding-left: 15px;
	}
	.pad-right
	{
		padding-right: 15px;
	}
	.div-grey
	{
		background-color: #eeeeee;
		padding-top: 15px;
	}
}
@media (max-width:1024px){
	.navbar-brand span {
		padding: 0.1em 0.5em;
	}
	.pad-left
	{
		padding-left: 15px;
	}
	.pad-right
	{
		padding-right: 15px;
	}
	.div-grey
	{
		background-color: #eeeeee;
		padding-top: 15px;
	}
	.cl-effect-18 a.effect1::before, .cl-effect-18 a.effect1::after {
		left: -11% !important;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		padding-bottom:5em;
	}
	.banner,.banner-info {
		min-height: 92px;
	}
	.banner-bottom {
		padding: 3em 0 0;
	}
	.nav > li > a {
		padding: 11.3px 19.9px;
	}
}
@media (max-width:768px){
	.hidden-sm
	{
		display:none;
	}
	.navbar-brand {
		padding: 15px 0px;
		font-size: 18px;
		color: #ffffff !important; 
		font-family: "BentonSans Medium", Arial, sans-serif;
	}
	.pad-left
	{
		padding-left: 15px;
	}
	.pad-right
	{
		padding-right: 15px;
	}
	.div-grey
	{
		padding-top: 15px;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 16px;
	}
	.navbar-collapse {
		padding-right: 0;
		padding-left: 0;
	}
	.cl-effect-18 a.effect1::before, .cl-effect-18 a.effect1::after {
		left: -31% !important;
	}
	.banner, .banner-info {
		min-height: 92px;
	}
	.banner-bottom-grid-left {
		float: left;
		width: 50%;
		margin: 0 auto 2em;
	}
	.cl-effect-18 a::before, .cl-effect-18 a::after {
		left: 10%;
	}
}
@media (max-width:767px){
	.navbar-default .navbar-toggle {
		border-color: #fff;
	}
	.hidden-sm
	{
		display:none;
	}
	.pad-left
	{
		padding-left: 15px;
	}
	.pad-right
	{
		padding-right: 15px;
	}
	.div-grey
	{
		padding-top: 15px;
	}
	.navbar-toggle {
		margin: 8px 0 0;
		background-color: #fff;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #fff;
	}
	.navbar-nav {
		float: none;
		text-align: center;
		background: none;
		padding: 1em 0;
		margin: 0 0 1em;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		padding-bottom: 0;
	}
	.cl-effect-18 a::before, .cl-effect-18 a::after {
		left: 46%;
		top: 47%;
	}
	.navbar-collapse.collapse, .navbar-nav
	{
		display: inline-block !important;
		height:90px !important;
		padding-bottom: 0;
		overflow: visible !important;
	}
	.navbar-header
	{
		width:300px !important;
		float:left !important;
		display: inline-block !important;
	}
	.nav-wil
	{
		display:inline-block !important;
		float:right !important;
	}
}
@media (max-width: 768px){
	.navbar-default .navbar-nav, .navbar-default .navbar-nav > li,  .navbar-default .navbar-nav > li > a
	{
		display:inline-block;
		height: 90px !important;
		vertical-align: top !important;
	}
	.hidden-sm
	{
		display:none;
	}
}

@media (max-width: 217px){
	.nav .navbar-nav, .nav .navbar-nav > li, .nav .navbar-nav > li > a {
		display: inline-block;
	}
	.hidden-sm
	{
		display:none;
	}
}
@media (max-width: 736px){
.hidden-sm
	{
		display:none;
	}
	.navbar-header
	{
		width:300px !important;
		float:left !important;
		display: inline-block !important;
	}
	.nav-wil
	{
		display:inline-block !important;
		float:right !important;
	}
	.navbar-default .navbar-nav, .navbar-default .navbar-nav > li,  .navbar-default .navbar-nav > li > a
	{
		display:inline-block;
		height: 90px !important;
		vertical-align: top !important;
	}
	.pad-left
	{
		padding-left: 15px;
	}
	.pad-right
	{
		padding-right: 15px;
	}
	.div-grey
	{
		padding-top: 15px;
	}
}
@media (max-width: 667px){
	.pad-left
	{
		padding-left: 15px;
	}
	.pad-right
	{
		padding-right: 15px;
	}
	.div-grey
	{
		padding-top: 15px;
	}
	.hidden-sm
	{
		display:none;
	}
}
@media (max-width:640px){
	.pad-left
	{
		padding-left: 15px;
	}
	.hidden-sm
	{
		display:none;
	}
	.pad-right
	{
		padding-right: 15px;
	}
	.div-grey
	{
		padding-top: 15px;
	}
	.cl-effect-18 a::before, .cl-effect-18 a::after {
		left: 44%;
	}
}
@media (max-width: 600px){
	.hidden-sm
	{
		display:none;
	}
	.nav-wil
	{
		display:inline-block !important;
		float:right;
	}
	.navbar-default .navbar-nav, .navbar-default .navbar-nav > li,  .navbar-default .navbar-nav > li > a
	{
		display:inline-block;
		height: 90px !important;
		vertical-align: top !important;
	}
	.pad-left
	{
		padding-left: 15px;
	}
	.pad-right
	{
		padding-right: 15px;
	}
	.div-grey
	{
		padding-top: 15px;
	}
}
@media (max-width:480px){
	.pad-left
	{
		padding-left: 5px;
	}
	.hidden-sm
	{
		display:none;
	}
	.pad-right
	{
		padding-right: 5px;
	}
	.div-grey
	{
		padding-top: 5px;
	}
	.banner, .banner-info {
		min-height: 92px;
	}
	.banner-bottom {
		padding: 2em 0 0;
	}
}
@media (max-width: 414px){
	.hidden-sm
	{
		display:none;
	}
	.row
	{
		margin-right: -10px !important;
	}
	.navbar-header
	{
		max-width:200px !important;
		float:left;
		display: inline-block;
	}
	.nav-wil
	{
		display:inline-block !important;
		float:left !important;
	}
	.navbar-default .navbar-nav, .navbar-default .navbar-nav > li,  .navbar-default .navbar-nav > li > a
	{
		display:inline-block;
		height:90px !important;
		vertical-align:top !important;
		float: left;
		padding-left:3px;
		padding-right:3px;
	}
	.pad-left
	{
		padding-left: 5px;
	}
	.pad-right
	{
		padding-right: 5px;
	}
	.div-grey
	{
		padding-top: 5px;
	}
	.navbar-brand {
		height:60px;
		font-size: 10px; 
		color: #ffffff !important;
		font-family: "BentonSans Medium", Arial, sans-serif;
	}
	.banner, .banner-info {
		min-height: 92px;
	}
	a.high {
		padding: 10px 40px 10px 40px !important;
		font-size: .9em !important;
	}
	.cl-effect-18 a::before, .cl-effect-18 a::after {
		left: 40%;
	}
}
@media (max-width:384px){
	.pad-left
	{
		padding-left: 5px;
	}
	.pad-right
	{
		padding-right: 5px;
	}
	.div-grey
	{
		padding-top: 5px;
	}
	.hidden-sm
	{
		display:none;
	}
}
@media (max-width:320px){
	.hidden-sm
	{
		display:none;
	}
	.row
	{
		margin-right: -10px !important;
	}
	.pad-left
	{
		padding-left: 5px;
	}
	.nav-wil
	{
		display:inline-block !important;
		float:left !important;
	}
	.navbar-default .navbar-nav, .navbar-default .navbar-nav > li,  .navbar-default .navbar-nav > li > a
	{
		display:inline-block;
		float:left !important;
	}
	.pad-right
	{
		padding-right: 5px;
	}
	.div-grey
	{
		padding-top: 5px;
	}
	.navbar-default .navbar-nav, .navbar-default .navbar-nav > li,  .navbar-default .navbar-nav > li > a
	{
		display:inline-block;
		height:90px !important;
		vertical-align:top !important;
		float: left;
		padding-left: 1.5px;
		padding-right: 1.5px;
	}
	.row-eq-height-sm {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-direction: column;
}
@media (min-width:768px) {
    .row-eq-height-sm {
        flex-direction: row;
    }
}
	.nav > li > a {
		padding: 10.3px 9.9px;
	}
	a.high {
		padding: 10px 10px 10px 15px !important;
		font-size: .9em !important;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 11px;
	}
	.cl-effect-18 a::before, .cl-effect-18 a::after {
		width: 40px;
		left: 42%;
	}
}