.products-list-thumbmail { 
  min-height:160px; 
  height:160px;
  background:rgb(232,232,232);
  background-image:linear-gradient(to bottom, #ffffff 50%, #dcddd3);
  border: none;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; 
}

.products-list-thumbmail:hover, .products-list-thumbmail:focus {
  background-image: linear-gradient(to bottom, #ecf5fa 50%, #98abb5);
}
.dls-menu .menu-container {
    position: relative;
}
.no-padding{
padding: 0px !important;
}

.no-margin{
margin: 0px !important;
}

.stick {
  position:fixed;
  top:0px !important;
}
.top308{
	top : 308px;
}
#leftNav .nav-item.active, #leftNav .nav-item.open{
	background-color: inherit !important;
  color: #002663 !important
}
.radio-margin{
	margin: 0 10px;
}
.devportal-app-dashboard .devportal-products-list-panel{
	background: url("https://web.aexp-static.com/EnterpriseAPIPortal/images/APIDevPortal/products-banner-blue-01.png") left top /cover no-repeat !important;
}

.devportal-sidebar .nav-item.active{
	display: block!important;
  color: #002663
}

.admin-table{
  padding-bottom: 0px;
}
.active{
    display: block!important;
    background-color: #f7f8f9;
    font-family: BentonSans-Medium;
    font-size: 16px!important;
    line-height: 26px;
}

.documentationbutton{
    border-radius: 6px;
    border: 1px solid rgb(255, 255, 255);
    border-color: #337fbd;
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: BentonSans;
    font-size: 12px;
    padding: 5px 14px;
    text-decoration: none;
    background-color: #337fbd;
}
.support-options{
background: #ffffff;
}
#queryCntr{
display : none;
}
.accordion-content ul{
  padding-left:20px;
}
#faq-banner h1, h2{
margin-bottom: 0px !important;
}
.panel-content h1, h2 {
    color: #002663;
    margin-bottom: 0!important;
}
.dls-container{
padding-top: 10px !important;
}
.no-padding{
padding: 0px !important;
}
.no-margin{
margin: 0px !important;
}
#queryCntr form{
  padding: 0 16%;
}

.devportal-info-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  background-color: #555;
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 22px;
}

.devportal-info-icon:before {
  font-family: "dls-icons";
  content: "";
  width: auto;
}

.devportal-info-msg{
  margin-left: 8px;
  margin-top: 1px;
}

.devportal-input-prodName{
  width:auto;
}

.devportal-label-question{
  margin-top: 20px;
}


@media screen and (min-width:1022px) {
  .support-lg {
  padding-left: 5rem;
  }
}


@media(max-width:767px) {
  .faq-h1-mobile {
    font-size: 18px!important;
  }

  .faq-banner-mobile{
    padding-top: 2rem!important;
  }

  #queryCntr form{
    padding: 0!important;
  }
}

@media (min-width: 768px) and  (max-width: 1199px), (min-width: 1199px) and (max-width: 768px) {
  .faq-h1-mobile {
    font-size: 20px!important;
  }

  .faq-banner-mobile{
    padding-top: 2rem!important;
  }

  #queryCntr form{
    padding: 0!important;
  }
}

.nav-item.open .nav-link > h2 {
    color: #002663 !important;
}

#faqCntr{
    color: #1274b8 !important;
    width: 90%;
    margin-left: 20px;
}

.devportal-app-dashboard .devportal-products-list-panel{
	background: url("https://web.aexp-static.com/EnterpriseAPIPortal/images/APIDevPortal/products-banner-blue-01.png") left top /cover no-repeat !important;
}
