
.dls-container {
    padding-top: 10px!important;
}
.wrapper.inner {
    padding-left: 0;
    padding-right: 0;
}

#main {
    padding-bottom: 110px;
    margin-top: 102px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


// @media (min-width: 1200px)


