<form [formGroup]="myForm" novalidate >
    <div class="insertProd panel-content dls-panel-row panel " style="padding: 1.875rem 1.25rem;" >
      <div>
        <h1>Delete Partner</h1>
        <div class="divContent admin-form-div" style="width: 70%;">
            <label >Select Partner</label>
             <!--<span [ngClass]="{'has-warning': errorClass}" >-->
            <select name ="deletepartner" formControlName="deletepartner" id="deletepartner" 
            class="form-control" [(ngModel)]="deletepartner"  (change)="onChange()">
           
                 <option [value]="0"  >Select to begin</option>
                 <option *ngFor="let s of partner"  [value]="s.organizationId">{{s.orgName}}</option>
		    </select>
             <!--</span>-->
        </div>
         <div *ngIf="updatedMsg" class="successPopupMsg" style="padding-top: 15px">Partner successfully deleted.</div>
         <div *ngIf="errorMsg" class=" error"  style="padding-top: 10px; margin-left:0px">{{errorString}}</div>
         <div class="divContent admin-form-div" align="center" style="width: 70%; margin-top: 20px;">
    <button class="btn btn-default"  (click)="deleteRowForm()">Click to Delete Partner</button>
         </div>
   </div>
    </div>
</form>