.products-list-thumbmail { 
  min-height:160px; 
  height:160px;
  background:rgb(232,232,232);
  background-image:linear-gradient(to bottom, #ffffff 50%, #dcddd3);
  border: none;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; 
   box-sizing: initial;
   
}

.products-list-thumbmail:hover, .products-list-thumbmail:focus {
  background-image: linear-gradient(to bottom, #ecf5fa 50%, #98abb5);
}

.stick {
  position:fixed;
  top:0px !important;
}
.top308{
	top : 3100px;
}
#leftNav .nav-item.active, #leftNav .nav-item.open{
	background-color: inherit !important;
}
.radio-margin{
	margin: 0 10px;
}
.devportal-app-dashboard .devportal-products-list-panel{
	background: url("https://web.aexp-static.com/EnterpriseAPIPortal/images/APIDevPortal/products-banner-blue-01.png") left top /cover no-repeat !important;
}

.devportal-sidebar .nav-item.active{
	display: block!important;
}
.documentationbutton{
    border-radius: 6px;
    border: 1px solid rgb(255, 255, 255);
    border-color: #337fbd;
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: BentonSans;
    font-size: 12px;
    padding: 5px 14px;
    text-decoration: none;
    background-color: #337fbd;
}
.dt-button
{
    display: inline-block;
    box-sizing: content-box;
    margin-right: 0.333em;
    padding: 0.5em 1em;
    border: 0.5px solid #999;
    border-radius: 1px;
    cursor: pointer;
    font-size: 0.88em;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    background-color: #e9e9e9;
}
.table thead th, .table-head .column-width  {
  font-weight: bold;
  -webkit-column-width: 800px; /* Chrome, Safari, Opera */
    -moz-column-width: 100px; /* Firefox */
    
}
.check{

        float: right;
        margin-right: 1.95em;
    }

.red {
    color: red;
}

.green{
    color:green;
}

.button{

    color: blue;
}
.sortAscTypeImg{
    background: url('./../../../assets/images/glyphs/dls-glyph-down.svg') no-repeat bottom left;
    /*height: 17px;
    width: 50px;
     padding-left:15px;*/
    display: inline-block;
    width:15px;
    height:15px;
}
.sortDescTypeImg{
    background: url('./../../../assets/images/glyphs/dls-glyph-up.svg') no-repeat bottom left;
    /*height: 17px;
    width: 50px;
    padding-left:15px;*/
    display: inline-block;
    width:15px;
    height:15px;
}

