<form [formGroup]="myForm" novalidate>
    <div class="insertProd panel-content dls-panel-row panel " style="padding: 1.875rem 1.25rem;">
        <h1>Delete Product</h1>
        <div class="divContent admin-form-div" style="width: 70%;">
            <label>Select Product</label>
            <select name="delProduct" formControlName="deleteProduct" id="deleteProduct" [(ngModel)]="deleteProduct" class="form-control" (ngModelChange)="onChange()">
        <option *ngFor="let s of product" [ngValue]="s">{{s.product_name}}</option>
        </select>
        </div>
        <div *ngIf="updatedMsg" class="successPopupMsg" style="padding-top: 15px;display: block;">Product successfully deleted.</div>
        <div *ngIf="errorMsg" class=" error" style="padding-top: 10px; margin-left:0px">{{errorString}}</div>
        <div class="divContent admin-form-div" align="center" style="width: 70%; margin-top: 20px;">
            <button class="btn btn-default" (click)="deleteRowForm()">Click to Delete Product</button>
        </div>
    </div>
</form>