<div class="dls-container" style=" padding: 1.875rem 0rem; ">
    <div id="dls-page-container" class="dls-content container-fluid page-active">
        <form [formGroup]="myForm" novalidate>
            <div class="insertProd panel-content dls-panel-row panel admin-form-div " style="padding-top:0px; margin-right:0px;padding:0px;">
                <!--<div class="divContent admin-form-div"style="margin-top: 5%; margin-left: 5%; margin-right: 5%;">-->
                <h1>Company Platform</h1>
                <select name="Platform" formControlName="adminPlatform" id="adminPlatform" class="form-control" [(ngModel)]="selectedPlatform" (change)="onChange(selectedPlatform)">
 		         <!--<option [value]="0" [selected]=true >-----Select a platform-----</option>-->
                 <option [value]="0" >Select to begin</option>
                 <option *ngFor="let s of Platform"  [ngValue]="s"  [value]="s.organizationId" >{{s.orgName}}</option>
		    </select>
                <!--</div>-->
            </div>
            <div role="tabpanel" class="tab-pane fade in" id="PublicProductsGridViewDiv" style="margin-top: 1%;" *ngIf="showtable">
                <div *ngIf="errorMsg" class=" error" align="center"><strong>Please select at least one checkbox to update.</strong></div>
                <div style="margin-top: 1%;" align="center"><a (click)="adduser(true)"><strong>Add User to this platform</strong></a></div>
                <div id="getPublicProducts">
                    <div class="form-group">
                        <div style="width: 25%;margin-bottom: 10px; margin-left:740px">
                            <input class="form-control " formControlName="search" type="text" style="min-height: 2.125rem;" [(ngModel)]="nameFilter" placeholder="Search" />
                        </div>
                        <table id="publicProductsTable" class="table table-striped table-bordered admin-table " cellspacing="0" width="100%">
                            <thead style="background: #ffffff">
                                <tr>
                                    <th>Select</th>
                                    <th class="cursor-pointer" (click)="sort(sortType,'status')">Status</th>
                                    <th class="cursor-pointer" (click)="sort(sortType,'userId')">UserId</th>
                                    <th class="cursor-pointer" (click)="sort(sortType,'fName')">First Name</th>
                                    <th class="cursor-pointer" (click)="sort(sortType,'lName')">Last Name</th>
                                    <th class="cursor-pointer" (click)="sort(sortType,'emailAddress')">EmailId</th>
                                </tr>
                            </thead>
                            <tbody id="publicProductsTbody">
                                <tr *ngFor="let item of userDetails | orderBy:sortVal | pa_filter : nameFilter; let rownumber = index ">
                                    <td><input type="checkbox" name="select" [(ngModel)]="item.state" [ngModelOptions]="{standalone: true}" />&nbsp;</td>
                                    <td [ngClass]="{'red':item.status === 'N','green':item.status === 'Y'} "><strong>{{item.status === "N" ? 'INACTIVE' : 'ACTIVE'}}</strong></td>
                                    <td><a (click)="useridactive(true,item)"><strong>{{item.userId}}</strong></a></td>
                                    <td>{{item.fName}}</td>
                                    <td>{{item.lName}}</td>
                                    <td>{{item.emailAddress}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12" style="margin-left: 20px;" align="center">
                    <button class="btn btn-default" (click)="changeStatusOrDelete(selectedPlatform.value,'U')">Click to change status</button>
                    <button class="btn btn-default" (click)="changeStatusOrDelete(selectedPlatform.value,'D')">Click to delete User</button>
                </div>
                <br><br><br>
            </div>
            <div *ngIf="showModal" class="modal-overlay" tabindex="-1"></div>
            <div *ngIf="showModal" class="modal" tabindex="-1" id="testModal" (click)="closeModal($event)" role="dialog" aria-hidden="true" align="center" style="opacity: 1;">
                <div class="modal-dialog" style="max-height:63%;  margin-top: 150px; margin-bottom:50px; width: 550px ;border-radius:10px;">
                    <div class="modal-content" style="border: 1px solid #888;box-shadow: 5px 5px 10px #888888;border-radius:10px;height:100%">
                        <div class="modal-header" style="width:100%;padding: 1.15rem 1.05rem;padding-bottom:0.15rem;border-radius: 10px;">
                            <span style="width:95%;font-weight: 700;"><h4 class="modal-title" align="center" style="margin-bottom: 0px;">Assign Role</h4></span>
                            <button type="button" class="close" style="padding: 0;height: 23px;min-width:23px;" (click)="useridactive(false,'')">&times;</button>
                        </div>
                        <hr style="margin:0px 10px;padding: 0px;">
                        <div class="modal-body" style="height:70%;">
                            <h2 class="modal-title" align="center">Roles for UserId:{{userId}}</h2>
                            <div *ngFor="let item of roles" align="left" style="margin-bottom: 0.3rem;" #userRole>
                                <input type="radio" name="userRoleId" [(ngModel)]="userRoleId" [ngModelOptions]="{standalone: true}" value="{{item.roleId}}" style="margin-right:5px;">{{item.roleName }}
                            </div>
                            <!-- (click)="model.options = item" [checked]="item.roleId === roleId"-->
                            <div *ngIf="updatedMsg" class="successPopupMsg">{{roleUpdatedMsg}}</div>
                            <div *ngIf="failureMsg" class="error">{{rolefailureMsg}}</div>
                        </div>
                        <hr style="margin:0px 10px;padding: 0px;">
                        <div class="modal-footer" align="center" style="padding-top:2%;">
                            <button type="button" style="min-width: 4.25rem;line-height: 0.4667;" class="btn btn-default" id="hideTestModal" (click)="useridactive(false,'')">Close</button>
                            <button type="button" style="min-width: 4.25rem;line-height: 0.4667;" class="btn btn-default" id="hideTestModal" (click)="updateUserRole(selectedPlatform.value)">Update Role</button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="viewModal" class="modal-overlay" tabindex="-1"></div>
            <div *ngIf="viewModal" class="modal" id="modalAdsUser" tabindex="-1" role="dialog" (click)="closeModal($event)" aria-hidden="true" align="center" style="opacity: 1;">
                <div class="modal-dialog modaldialog2">
                    <div class="modal-content modalcontent">
                        <div class="modal-header modalheader" id="modalAdsUserHeader">
                            <span style="width:95%;font-weight: 700;"><h2 class="modal-title" id="modalAdsUserLabel" align="center" style="margin-bottom: 0px;">Add User to this Org</h2></span>
                            <button type="button" class="close" aria-label="Close" style="padding: 0;height: 23px;min-width:23px;" (click)="adduser(false)">×</button>
                        </div>
                        <div class="modal-body" id="adsUserModalBody" style="height:89%;">
                            <div class="headingInfo resultAddUsers" id="resultAddUsers"></div>
                            <div class="container addUsersMain">
                                <div class="errorMessageAdsSearch" id="errorMessageAdsSearch" style="display: none;">There is no user available in the record with this ADS ID.</div>
                                <div class="divContent" style="text-align: left;">
                                    <div align="right" style="width:95%">
                                        <div class="input-group" align="center" style="max-width:100%;width: 73%">
                                            <input type="text" class="form-control input-lg" placeholder="ADS ID*" id="adsIdBox" title="ADS ID">
                                            <span class="input-group-btn">
                                                        <button class="btn btn-info btn-lg search-button" type="button" id="searchAdsBtn"  >
                                                        <i class="search"></i>
                                                        </button>
                                                    </span>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group" style="width: 100%">
                                        <div class="errorMessageAdsSearch" id="errorMessageAdsSearch" style="display: none;">There is no user available in the record with this ADS ID.</div>
                                        <label for="firstName" class="control-label" style="width: 25%">First Name</label>
                                        <input type="text" class="form-control" style="display: inline; width: 70%;" id="firstName" placeholder="First Name*" readonly="true" title="First Name">
                                    </div>
                                    <div class="form-group" style="width: 100%">
                                        <label for="middleName" class="control-label" style="width: 25%">Middle Name</label>
                                        <input type="text" class="form-control" style="display: inline; width: 70%;" id="middleName" placeholder="Middle Name" readonly="true" title="Middle Name">
                                    </div>
                                    <div class="form-group" style="width: 100%">
                                        <label for="lastName" class="control-label" style="width: 25%">Last Name</label>
                                        <input type="text" class="form-control" id="lastName" style="display: inline; width: 70%;" placeholder="Last Name*" readonly="true" title="Last Name">
                                    </div>
                                    <div class="form-group" style="width: 100%">
                                        <label for="department" class="control-label" style="width: 25%">Department</label>
                                        <input type="text" class="form-control" id="department" style="display: inline; width: 70%;" placeholder="Department" readonly="true" title="Department">
                                    </div>
                                    <div class="form-group" style="width: 100%">
                                        <label for="leaderName" class="control-label" style="width: 25%">Leader</label>
                                        <input type="text" class="form-control" id="leaderName" style="display: inline; width: 70%;" placeholder="Leader" readonly="true" title="Leader">
                                    </div>
                                    <div class="form-group" style="width: 100%">
                                        <label for="userEmailId" class="control-label" style="width: 25%">Email</label>
                                        <input type="text" class="form-control" id="userEmailId" style="display: inline; width: 70%;" placeholder="Email*" readonly="true" title="Email">
                                    </div>
                                    <div class="form-group" id="selectRoleDiv" style="width: 100%">
                                        <label for="selectRole" class="selectOrgLabel" style="width: 25%">Role</label>
                                        <select class="form-control userRole" id="selectRole" [disabled]=t rue style="display: inline; width: 70%;">
                                        <option></option>
                                        
                                                        <option value="1">
                                                        ADMIN                                   
                                                        </option>
                                                    
                                                        <option value="9">
                                                        EAUTH ADMIN                             
                                                        </option>
                                                    
                                                        <option value="7">
                                                        MERCHANT USER                           
                                                        </option>
                                                    
                                                        <option value="4">
                                                        ORG ADMIN                               
                                                        </option>
                                                    
                                                        <option value="3">
                                                        USER                                    
                                                        </option>
                                                    
                                        
                                        </select>
                                    </div>
                                    <input type="hidden" id="axpGuid" title="AXPGUID" value="">
                                    <input type="hidden" id="telephoneNo" title="Telephone Number" value="02042278936">
                                    <div align="center" style="width:100%">
                                        <button type="button" class="btn btn-primary" id="addADSUserBtn">Add User</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>