
					
<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
    <div class="insertProd panel-content dls-panel-row panel" style="padding: 1.875rem 1.25rem;">

        <h1>Welcome, Create Your App For SandBox Environment </h1>
        <div class="divContent admin-form-div"  >
            <label>Application Name</label>
            <span [ngClass]="{'has-warning': !(myForm.controls['applicationName'].valid || (myForm.controls.applicationName.pristine && myForm.controls.applicationName.untouched ))}">  
            <input type="text" maxlength="100" formControlName="applicationName" name="applicationName" class="form-control" (focus)="removeUpdateMsg()" placeholder="Enter Your Application Name*"  maxlength="100" title="Platform Name"/>
            </span>
        </div>
        <small class="error" [hidden]="myForm.controls.applicationName.valid || (myForm.controls.applicationName.pristine && myForm.controls.applicationName.untouched )">
        Application Name must have alphanumeric characters and hyphen or underscore allowed.
        </small>
 

        <div class="divContent admin-form-div" style="clear:both;" >
            <label>Platform Name</label>
              <select name="chooseCategory" id="chooseCategory" formControlName="chooseCategory" [(ngModel)]="selectCategory" class="form-control" (change)="selectProduct(selectCategory)">
            <option [value]="0" [selected]=true >Select to begin</option>
            <option *ngFor="let item of selectcategory" [ngValue]="item.code" >{{item.name}}</option> <!-- [disabled]="item.code==0" -->
        </select>
        </div>
<br>

        <div *ngIf="showmultiple" >

            <div class="divContent admin-form-div">
                <label>Product Name</label>
                <select  name="apigeeproducts" class="selectApigeeProducts form-control " id="apigeeproducts" multiple="">
                 <option *ngFor="let item of textValue" selected="selected" value="{{item}}">{{item}}</option>
           </select>
            </div>
        </div> 

        
         <div class="divContent admin-form-div"  >
            <label>CallbackURL</label>
            <span [ngClass]="{'has-warning': !(myForm.controls['callbackName'].valid || (myForm.controls.callbackName.pristine && myForm.controls.callbackName.untouched ))}">  
            <input type="text" maxlength="100" formControlName="callbackName" name="callbackName" class="form-control" (focus)="removeUpdateMsg()" placeholder=" Provide Callback URL"  maxlength="100" title="Platform Name"/>
            </span>
        </div>
        <small class="error" [hidden]="myForm.controls.callbackName.valid || (myForm.controls.callbackName.pristine && myForm.controls.callbackName.untouched )">
       Please enter Valid URL.
        </small>

        <div class="divContent admin-form-div"  >
            <label>Description</label>
            <span [ngClass]="{'has-warning': !(myForm.controls['descriptionName'].valid || (myForm.controls.descriptionName.pristine && myForm.controls.descriptionName.untouched ))}">  
            <input type="text" maxlength="100" formControlName="descriptionName" name="descriptionName" class="form-control" (focus)="removeUpdateMsg()" placeholder=" Provide your App description"  maxlength="100" title="Platform Name"/>
            </span>
        </div>
        <small class="error" [hidden]="myForm.controls.descriptionName.valid || (myForm.controls.descriptionName.pristine && myForm.controls.descriptionName.untouched )">
       Description must have alphanumeric characters and hyphen only allowed
        </small>

        <div class="divContent admin-form-div"  >
            <label>Environment</label>
            <input type="text" formControlName="envName" name="envName" class="form-control" placeholder="SandBox"  maxlength="100" title="Environment Name" disabled/>
            
        </div>

        <div class="divContent admin-form-div"  >
            <label>Email Id</label>
            <input type="text" formControlName="emailName" name="emailName" class="form-control" placeholder="Email Id"  maxlength="100" title="Email Name" disabled/>
            
        </div>

        <div class="divContent admin-form-div"  >
            <label>First Name</label>
   
            <input type="text" formControlName="firstName" name="firstName" class="form-control"  placeholder=" First Name"  maxlength="100" title="First Name" disabled/>
            
        </div>

         <div class="divContent admin-form-div"  >
            <label>Last Name</label>
            <input type="text" maxlength="100" formControlName="lastName" name="lastName" class="form-control" placeholder=" Last Name"  maxlength="100" title="Last Name" disabled/>
            
        </div>

         <div class="divContent admin-form-div"  >
            <label>User Name</label>
            <input type="text" formControlName="userName" name="userName" class="form-control" placeholder=" User Name"  maxlength="100" title="User Name" disabled />
           
        </div>      
        <!--<input type="text" id="nonapigeeproducts" name="nonapigeeproducts" class="fieldtext" [(ngModel)]="textValue" [ngModelOptions]="{standalone: true}" disabled />-->
    <div *ngIf="updatedMsg" class="successPopupMsg " style="margin-left: 15px">Your App has been created successfully.</div>   
    <div  class="divContent admin-form-div" align="center">
        <button type="submit" class="btn btn-default"  id="addProdBtn2">Submit</button>
    </div>
</div>
<div *ngIf="displayModal" class="modal-overlay" tabindex="-1"></div>
<div *ngIf="showModal" class="modal" tabindex="-1" (click)="closed($event)" id="testModal" role="dialog" aria-hidden="true" align="center">
    <div class="modal-dialog"  style="overflow-y: scroll; max-height:70%;  margin-top: 150px; margin-bottom:50px; width: 600px ;border-radius:10px;">

<div class="modal-content" style="border: 1px solid #888;box-shadow: 5px 5px 10px #888888;border-radius:10px;">
    <div class="modal-header"  style="width:100%;padding: 1.05rem 0.05rem;padding-bottom:0.15rem;border-radius: 10px;">
        <div style="width:90%;">
            <h4 class="modal-title" align="center" style="margin-bottom: 0px;">Select Products</h4>
        </div>
        <div style="width:10%;"><button type="button" class="close" style="padding: 0px;height: 25px;min-width:25px;" (click)="close()">&times;</button></div>
    </div>
    
    <hr style="margin:0px 10px;padding: 0px;margin-bottom: 15px;">
    <div class="modal-body" style="padding: 0.05rem 0.625rem;">
        <div role="tabpanel" class="tab-pane" id="grid">
            <div id="getPlatformProducts">
                <div class="form-group">
                    <table id="appTable" class="table table-striped table-bordered" cellspacing="0" #categoryTable>
                        <thead>
                            <tr>
                               <th>PLATFORM</th>
                                <th>PRODUCT NAME</th>
                                <th>SELECT PRODUCTS</th>
                            </tr>
                        </thead>
                        
                        <tbody id="appTbody" >
                        <tr  *ngFor="let item of newApigeeList; let rownumber = index ">
                            <td>{{item.name}}</td>
                            <td>{{item.author}}</td>
                             <td><input type="checkbox" name="select" [(ngModel)]="item.state" [ngModelOptions]="{standalone: true}" /></td>

                        </tr>
                       </tbody>
                    </table>
              </div>
             </div>
            </div>
            </div>
           <hr style="margin:0px 10px;padding: 0px;margin-bottom: 15px;"> 
          <div class="modal-footer">
                <button type="button" class="btn btn-default" id="hideTestModal" (click)="displaySelect()" style="min-width:20px;padding:5px 20px;">Done</button>
        </div>



</div>
</div>
</div>

</form>