<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
    <div class="insertProd panel-content dls-panel-row panel" style="padding: 1.875rem 1.25rem;">
        <h1>Edit Product Data </h1>
        <div class="divContent admin-form-div">
            <label>Select Product</label>
            <span [ngClass]="{'has-warning': !(myForm.controls['editProduct'].valid || (myForm.controls.editProduct.pristine && myForm.controls.editProduct.untouched ))}">
                <select name="editProduct" formControlName="editProduct" id="editProduct" class="form-control"  [(ngModel)]="selectedProduct" (change)="onChange(selectedProduct)"  >
 		            <option [value]="0" [selected]=true >Select to begin</option>
                     <option *ngFor="let s of listPRO"  [value]="s.product_ID">{{s.product_name}}</option> <!--  [(ngModel)]="selectProduct" [selected]="s.orgId ==704" -->
		        </select>
                </span>
        </div>
        <small class="error" [hidden]="myForm.controls.editProduct.valid || (myForm.controls.editProduct.pristine && myForm.controls.editProduct.untouched  )">
                Please select product from the List .
            </small>
        <!--<div class="divContent admin-form-div">
            <label>Platform</label>
            <select name="platform" id="platform" formControlName="platform" [(ngModel)]="selectPlatform" class="form-control">
            <option *ngFor="let item of platformDetails" [value]="item.organizationId" >{{item.orgName}}</option> 
        </select>
        </div>-->
        <div class="divContent admin-form-div">
            <label>Product Name</label>
            <span [ngClass]="{'has-warning': !(myForm.controls['prodName'].valid || (myForm.controls.prodName.pristine && myForm.controls.prodName.untouched ))}">
                <input type="text" formControlName="prodName" name="prodName" class="form-control" (focus)="removeUpdateMsg()" placeholder="Product Name*" maxlength="200"
                    title="Product Name" />
                </span>
        </div>
        <small class="error" [hidden]="myForm.controls.prodName.valid || (myForm.controls.prodName.pristine && myForm.controls.prodName.untouched )">
                Product Name must have alphanumeric characters, space and and hyphen allowed .
            </small>
        <div class="divContent admin-form-div">
            <label>Product Description</label>
            <span [ngClass]="{'has-warning': !(myForm.controls['prodDescription'].valid || (myForm.controls.prodDescription.pristine && myForm.controls.prodDescription.untouched  ))}">
                 <textarea name="prodDescription" id="prodDescription" formControlName="prodDescription" (focus)="removeUpdateMsg()" class="form-control" placeholder="Product Description*" maxlength="254" title="Product Description" ></textarea>
                 </span>
        </div>
        <small class="error" [hidden]="myForm.controls.prodDescription.valid || (myForm.controls.prodDescription.pristine && myForm.controls.prodDescription.untouched )">
         Products Description must have alphanumeric characters only, space and hyphen allowed .
        </small>
        <div class="divContent admin-form-div">
            <label>Product Location</label>
            <span [ngClass]="{'has-warning': !(myForm.controls['prodLocation'].valid || (myForm.controls.prodLocation.pristine && myForm.controls.prodLocation.untouched ))}">
                <input type="text" formControlName="prodLocation" name="prodLocation" id="prodLocation" (focus)="removeUpdateMsg()" class="form-control" placeholder="Product Location*"
                    maxlength="254" title="prodLocation" />
                 </span>
        </div>
        <small class="error" [hidden]="myForm.controls.prodLocation.valid || (myForm.controls.prodLocation.pristine && myForm.controls.prodLocation.untouched  )">
         Product Location must have alphanumeric characters only, space and hyphen allowed .
        </small>
        <div class="divContent admin-form-div" style="width: 180px;">
            <span style=" margin-right: 5px;"><label class="lblCategory">Category</label></span>
            <div style="width: 400px;">
                <span style="margin-right: 30px;vertical-align: top;"><input type="radio" id="prodCategoryPvt" name="prodCategory" formControlName = "prodCategory" value="PRIVATE" title="PRIVATE"  [ngModel]="prodCategory" style="margin-right:10px;"/>PRIVATE </span>
                <span style="margin-right: 30px;vertical-align: top;"><input type="radio" id="prodCategoryPub" name="prodCategory" formControlName = "prodCategory" value="PUBLIC" title="PUBLIC"  [ngModel]="prodCategory" style="margin-right:10px;"/>PUBLIC</span>
            </div>
        </div>
        <div class="divContent admin-form-div" style="clear:both;float:left;margin-right: 20px;">
            <span style=" margin-right: 5px;"><label class="lblCategory">Select File</label></span>
        </div>
        <div class="divContent" style="padding:12px;">
            <span style=" margin-right: 5px;font-weight: bold;">Current File Name: {{fileUpdated}}</span>
        </div>
        <div class="divContent admin-form-div" style=" margin-left: 121px;">
            <input type="file" name="fileupload" formControlName="fileUpload" value="fileupload" id="fileupload" (change)="handleInputChange($event)"> <label for="fileupload"></label>
        </div>
        <div class="divContent admin-form-div" style="clear:both;">
            <!--<select id="chstestprdct" name="choosecategory" formControlName="selectCategory" class="form-control" >-->
            <!--<option *ngFor="let s of dropdown" [ngValue]="s" [disabled]="s.value==0" >{{s}}</option>-->
            <!--<option value="nonapigee" [selected]="'nonapigee' == isApigeeProd">Non-Apigee Product</option>
              <option value="realtime" [selected]="'realtime' == isApigeeProd">Link Apigee Product</option>
             </select>-->
            <select name="chooseCategory" id="chooseCategory" formControlName="chooseCategory" [(ngModel)]="selectCategory" class="form-control" (change)="isApigeeProduct(selectCategory)">
        <option *ngFor="let item of category" [ngValue]="item.code">{{item.name}}</option>
        <!-- [disabled]="item.code==0" -->
        </select>
        </div>
        <br>
        <!--<span class="categoryValues" style="float: left">
            <input type="text" id="nonapigeeproducts" name="nonapigeeproducts" value="NonApigeeProduct"  class="fieldtext" disabled />
            <input type="hidden" value="useridactive" id="nonapigeeproducts" name="nonapigeeproducts" value="NonApigeeProduct" class="fieldtext" />
            </span>-->
        <div *ngIf="showtext">
            <!--<textarea ref-textarea [(ngModel)]="textValue" [ngModelOptions]="{standalone: true}" rows="4" disabled ></textarea>-->
            <div class="divContent admin-form-div">
                <label>Non-Apigee Product</label>
                <input type="text" id="nonapigeeproducts" name="nonapigeeproducts" value="NonApigeeProduct" class="form-control" disabled />
            </div>
        </div>
        <div *ngIf="showmultiple">
            <div class="divContent admin-form-div">
                <label>Apigee Product</label>
                <select name="apigeeproducts" class="selectApigeeProducts form-control " id="apigeeproducts" multiple="">
               <option *ngFor="let item of apProdList" selected="selected" value="{{item}}">{{item}}</option>
           </select>
            </div>
        </div>
        <!--<input type="text" id="nonapigeeproducts" name="nonapigeeproducts" class="fieldtext" [(ngModel)]="textValue" [ngModelOptions]="{standalone: true}" disabled />-->
        <div *ngIf="updatedMsg" class="successPopupMsg " style="margin-left: 15px">Product successfully updated.</div>
        <div *ngIf="isError" class="error " style="margin-left: 15px">{{errorMsg}}</div>
        <div class="divContent admin-form-div" align="center">
            <button type="submit" class="btn btn-default" id="addProdBtn2" [disabled]="!myForm.valid">Click to Update Products</button>
        </div>
    </div>
</form>