<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">

    <div class="insertProd panel-content dls-panel-row panel" style="padding: 1.875rem 1.25rem;">

            <h1>Edit Product Data </h1>

            <div class="divContent admin-form-div">
                <label>Select Product</label>
                 <span [ngClass]="{'has-warning': !(myForm.controls['editProduct'].valid || (myForm.controls.editProduct.pristine && myForm.controls.editProduct.untouched ))}">
                <select name="editProduct" formControlName="editProduct" id="editProduct" class="form-control"  [(ngModel)]="selectedProduct"  (focus)="removeUpdateMsg()" (change)="onChange(selectedProduct)"  >
 		              <option [value]="0" [selected]=true >Select to begin</option>
                     <option *ngFor="let s of listPRO"  [value]="s.product_ID">{{s.product_name}}</option>
		        </select>
                </span>
            </div>
            <small class="error" [hidden]="myForm.controls.editProduct.valid || (myForm.controls.editProduct.pristine && myForm.controls.editProduct.untouched  )">
                Please select product from the List .
            </small>

            <div class="divContent admin-form-div">
                <label>Platform</label>
                     <span [ngClass]="{'has-warning': !(myForm.controls['platform'].valid || (myForm.controls.platform.pristine && myForm.controls.platform.untouched ))}">
                        <select name="platform" id="platform" formControlName="platform" [(ngModel)]="selectPlatform" class="form-control" (focus)="removeUpdateMsg()" >
                            <option [value]="0" [selected]=true >Select to begin</option>
                            <option *ngFor="let item of platformDetails" [value]="item.organizationId" >{{item.orgName+"-"+item.organizationId}}</option>
                        </select>
                    </span>
            </div>
            <small class="error" [hidden]="myForm.controls.platform.valid || (myForm.controls.platform.pristine && myForm.controls.platform.untouched  )">
                Please select platform from the List .
            </small>
            <div class="divContent admin-form-div">
                <label>Product Name</label>
                 <span [ngClass]="{'has-warning': !(myForm.controls['prodName'].valid || (myForm.controls.prodName.pristine && myForm.controls.prodName.untouched ))}">
                <input type="text" formControlName="prodName" name="prodName" class="form-control" (focus)="removeUpdateMsg()" placeholder="Product Name*" maxlength="200"
                    title="Product Name" (focusout)="checkProductName()"/>
                </span>
                
            </div>
            <small class="error" [hidden]="myForm.controls.prodName.valid || (myForm.controls.prodName.pristine && myForm.controls.prodName.untouched )">
                Product Name must have alphanumeric characters, space and and hyphen allowed .
            </small>
            <small class="error" *ngIf="isNamenotAvailable">
                    Product Name already exist.
            </small>
            <div class="divContent admin-form-div">
                <label>Product Description</label>
                 <span [ngClass]="{'has-warning': !(myForm.controls['prodDescription'].valid || (myForm.controls.prodDescription.pristine && myForm.controls.prodDescription.untouched  ))}">
                 <textarea name="prodDescription" id="prodDescription" formControlName="prodDescription" (focus)="removeUpdateMsg()" class="form-control" placeholder="Product Description*" maxlength="254" title="Product Description" ></textarea>
                 </span>
            </div>
            <small class="error" [hidden]="myForm.controls.prodDescription.valid || (myForm.controls.prodDescription.pristine && myForm.controls.prodDescription.untouched )">
         Products Description must have alphanumeric characters only, space and hyphen allowed .
        </small>

            <div class="divContent admin-form-div">
                <label>Product Location</label>
                 <span [ngClass]="{'has-warning': !(myForm.controls['prodLocation'].valid || (myForm.controls.prodLocation.pristine && myForm.controls.prodLocation.untouched ))}">
                <input type="text" formControlName="prodLocation" name="prodLocation" id="prodLocation" (focus)="removeUpdateMsg()" class="form-control" placeholder="Product Location*"
                    maxlength="254" title="prodLocation" />
                 </span>
            </div>
            <small class="error" [hidden]="myForm.controls.prodLocation.valid || (myForm.controls.prodLocation.pristine && myForm.controls.prodLocation.untouched  )">
         Product Location must have alphanumeric characters only, space and hyphen allowed .
        </small>
        <div class="divContent admin-form-div" style="width: 180px;">
            <span style=" margin-right: 5px;"><label class="lblCategory">Category</label></span>
            <div style="width: 400px;">
                <span style="margin-right: 30px;vertical-align: top;"><input type="radio" id="prodCategoryPvt" name="prodCategory" formControlName = "prodCategory" value="PRIVATE" title="PRIVATE"  [(ngModel)]="prodCategory" style="margin-right:10px;"/>PRIVATE </span>
                <span style="margin-right: 30px;vertical-align: top;"><input type="radio" id="prodCategoryPub" name="prodCategory" formControlName = "prodCategory" value="PUBLIC" title="PUBLIC"  [(ngModel)]="prodCategory" style="margin-right:10px;"/>PUBLIC</span>
            </div>
        </div>
        <div class="divContent admin-form-div" style="clear:both;float:left;margin-right: 20px;">
            <span style=" margin-right: 5px;"><label class="lblCategory">Select File</label></span>
        </div>
        <div class="divContent" style= "padding:12px;" >
            <span style=" margin-right: 5px;font-weight: bold;">Current File Name: {{fileUpdated}}</span>
        </div>
        <div class="divContent admin-form-div" style= " margin-left: 121px;">
            <input type="file" name="fileupload" formControlName="fileUpload" value="fileupload" id="fileupload" (change)="handleInputChange($event)"> <label for="fileupload" ></label>
        </div>



        <div class="divContent admin-form-div" style="clear:both;" >
                <select name="chooseCategory" id="chooseCategory" formControlName="chooseCategory" [(ngModel)]="selectCategory" class="form-control" (change)="isApigeeProduct(selectCategory)">
            <option *ngFor="let item of category" [ngValue]="item.code" >{{item.name}}</option> 
        </select>
        </div>
<br>
        <div *ngIf="showtext" >       
             <div class="divContent admin-form-div">
                <label>Non-Apigee Product</label>
                <input type="text" id="nonapigeeproducts" name="nonapigeeproducts" value="NonApigeeProduct"  class="form-control" disabled />
            </div>
        </div>

        <div *ngIf="showmultiple" >

            <div class="divContent admin-form-div">
                <label>Apigee Product</label>
                <select  name="apigeeproducts" class="selectApigeeProducts form-control " id="apigeeproducts" multiple="" [(ngModel)]="selectedApigeeProd" [ngModelOptions]="{standalone: true}"><!--(change)="selectApigeeProducts($event.target)" -->
               <option *ngFor="let item of apProdList" selected="selected" [value]="item">{{item}}</option>
           </select>
            </div>
        </div>       
     <div *ngIf="updatedMsg" class="successPopupMsg " style="margin-left: 15px">Product successfully updated.</div>   
     <div *ngIf="isError" class="error " style="margin-left: 15px">{{errorMsg}}</div>   
    <div  class="divContent admin-form-div" align="center">
        <button type="submit" class="btn btn-default"  id="addProdBtn2" [disabled]="!myForm.valid">Click to Update Products</button>
    </div>
</div>
</form>